.chat__main__message__box
  .chat__main__message__box__top
    .chat__main__message__box__top__name
      名前
    .chat__main__message__box__top__time
      日付
  .chat__main__message__box__text
    メッセージ